.red {
    color:red;
}
h1 {
    font-family: "ヒラギノ角ゴ ProN W3";
    font-size:30px;
    text-align:center;
}
h2 {
    font-family: sans-serif;
    font-size: 25px;
    border-bottom: 3px solid #ccccff;
  }
.block{
    margin: 10px;
    padding: 10px;
    background-color: #eeeeff;
    border-left: solid 3px #ccccff;
  }